body * {
    margin: 0;
    padding: 0;
}

#puzzle {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    gap: 3px;
}

.tile > img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.blank > img {
    display: none;
}

#t0 > img {
    object-position: 0 0;
}

#t1 > img {
    object-position: 50% 0;
}

#t2 > img {
    object-position: 100% 0;
}

#t3 > img {
    object-position: 0 50%;
}

#t4 > img {
    object-position: 50% 50%;
}

#t5 > img {
    object-position: 100% 50%;
}

#t6 > img {
    object-position: 0 100%;
}

#t7 > img {
    object-position: 50% 100%;
}

#t8 > img {
    object-position: 100% 100%;
}